
/*
	STYLE.CSS:
	One stylesheet to rule them all.

	selector { property:value }

*/


h2{
  font-family: "arial";
}

h2.center {
    text-align: center;
}


img.resize{
    width:540px; /* you can use % */
    height: auto;

}


body {

}

p, a  {
  font-family: 'Bungee Hairline', cursive;
}

.bigg {
  font-family: 'Bungee Hairline', cursive;
  color: white;
  font-size: 50px;
  text-align: center;
  background-color: green;
}

.links {
  color: grey;
}

/*header {
  height: 130px;
  background-color: red;
  text-align: center;

}*/
/*.center{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}*/

.header {
  position: absolute;
  right: 0;

  /*bottom: 0;*/
  left: 0;
  background-color: green;
  text-align: center;
}


.content {
  height: auto;
  text-align: center;

}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: grey;
  text-align: center;
}


}
.ftext {
  text-align: center;
}
