header {
    height: 200px;
    margin: auto;
    background-color: #196F3D;
    background-image: url("https://www.transparenttextures.com/patterns/skulls.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

h1.header {
    font-family: 'Archivo Black', sans-serif;
    font-size: 75px;
    opacity: 0.6;
}

div.middle {
    vertical-align: middle;
}

.wrapper {
    margin: auto;
    text-align: center;
    vertical-align: middle;
}

h1 {
    color: white;
}

p.middle {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 18px;
}

img.resize {
    width: 600px;
    padding-top: 10px;
}

.center {
    text-align: center;
}

ul.align {
    text-align: center;
}

a {
    font-family: 'Economica', sans-serif;
}

a:link {
    color: #f4b642
}

a:visited {
    color: black;
}

a:hover {
    color: silver;
}

a:active {
    color: black;
}

main {
    background-color: #f5f2f2;
    background-image: url("https://www.transparenttextures.com/patterns/white-sand.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    height: 600px;
}

footer {
    padding-top: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.bottom {
    margin: auto;
    height: 100px;
    background-color: #f44242;
    text-align: center;
    background-image: url("https://www.transparenttextures.com/patterns/skulls.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

p.bottom {
    color: white;
    font-family: 'Archivo Black', sans-serif;
    font-size: 30px;
}
